{% extends 'base.html' %}

{% block title %}Nuevo Producto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}

<section class='container'>
    <h1>{{ message }}</h1>
    {% if producto %}

    <h1>{{ producto.nombre_tienda }}</h1>
    <h1>{{ producto.direccion }}</h1>

    {% endif %}

    <form action='{% url 'administracion:crearProducto' %}' method="POST">
        {% csrf_token %}
        {{ producto_form.as_p }}
        <button type='submit' name="button" value="crear" class="btn btn-primary">Agregar</button>
    </form>
</section>

{% endblock %}