{% extends 'base.html' %}

{% block title %}Nuevo Vendedor{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}

<section class='container'>
    <h1>{{ message }}</h1>

    <form action='{% url 'administracion:crearVendedor' %}' method="POST">
        {% csrf_token %}
        {{ vendedor_form.as_p }}
        <button type='submit' name="button" value="crear" class="btn btn-primary">Agregar</button>
    </form>
</section>

{% endblock %}