{% extends 'base.html' %}

{% block title %}Portada{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Tienda Electrónica</h1>
{% comment %} <span class="subheading">Desarrollador fullstack</span> {% endcomment %}
{% endblock %}
