{% extends 'base.html' %}

{% block title %}Ofertas{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}

<table class="table table-dark table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Producto</th>
        <th>Porcentaje</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for oferta in oferta %}
      <tr>
        <td>{{oferta.id}} </td>
        <td>{{oferta.nombre_oferta}}</td>
        <td>{{oferta.producto}}</td>
        <td>{{oferta.porc_descuento}}</td>
     <td><button class="btn btn-info btn-sm"               
            >EDITAR
            </button>
          </td>

        <td class="text-center">
            <a class="btn btn-danger btn-sm"
            >ELIMINAR
            </a>
          </td>
      </tr>
        {% endfor%}
    </tbody>
  </table>

   <div class="text-center">
        <a class="btn btn-info btn-sm mt-3" 
         href="{% url 'administracion:crearOferta' %}"
        >Agregar Nuevo</a>
      </div>


{% endblock %}
