{% extends 'base.html' %}

{% block title %}Productos{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}

<table class="table table-dark table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descr</th>
        <th scope="col">Precio</th>
        <th scope="col">Tipo</th>
        <th scope="col">Tienda</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for producto in producto %}
      <tr>
        <td>{{producto.id}} </td>
        <td>{{producto.nombre_producto}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.tipo}}</td>
        <td>{{producto.tienda}}</td>
         <td><button class="btn btn-info btn-sm"               
            >EDITAR
            </button>
          </td>

        <td class="text-center">
            <a class="btn btn-danger btn-sm"
            >ELIMINAR
            </a>
          </td>
      </tr>
        {% endfor%}
    </tbody>
  </table>

   <div class="text-center">
        <a class="btn btn-info btn-sm mt-3" 
         href="{% url 'administracion:crearProducto' %}"
        >Agregar Nuevo</a>
      </div>


{% endblock %}
