{% extends 'base.html' %}

{% block title %}Tiendas{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}

<table class="table table-dark table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>Comuna</th>
        <th>Teléfono</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody>
      {% for tienda in tienda %}
      <tr>
        <td>{{tienda.id}} </td>
        <td>{{tienda.nombre_tienda}}</td>
        <td>{{tienda.direccion}}</td>
        <td>{{tienda.ciudad}}</td>
        <td>{{tienda.comuna}}</td>
        <td>{{tienda.telefono}}</td>
        <td>{{tienda.correo_electronico}}</td>
     <td><button class="btn btn-info btn-sm"               
            >EDITAR
            </button>
          </td>

        <td class="text-center">
            <a class="btn btn-danger btn-sm"
            >ELIMINAR
            </a>
          </td>
      </tr>
        {% endfor%}
    </tbody>
  </table>

   <div class="text-center">
        <a class="btn btn-info btn-sm mt-3" 
         href="{% url 'administracion:crearTienda' %}"
        >Agregar Nuevo</a>
      </div>


{% endblock %}
