{% extends 'base.html' %}

{% block title %}Vendedores{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}

<table class="table table-dark table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Tienda</th>
      </tr>
    </thead>
    <tbody>
      {% for vendedor in vendedor %}
      <tr>
        <td>{{vendedor.id}} </td>
        <td>{{vendedor.username}}</td>
        <td>{{vendedor.tienda}}</td>
   <td><button class="btn btn-info btn-sm"               
            >EDITAR
            </button>
          </td>

        <td class="text-center">
            <a class="btn btn-danger btn-sm"
            >ELIMINAR
            </a>
          </td>
      </tr>
        {% endfor%}
    </tbody>
  </table>

   <div class="text-center">
        <a class="btn btn-info btn-sm mt-3" 
         href="{% url 'administracion:crearVendedor' %}"
        >Agregar Nuevo</a>
      </div>


{% endblock %}
