{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <form class="form" action="{% url 'autenticacion:login' %}" method="POST">{% csrf_token %}
            <div class="form-group">
                {{form.as_p}}
                <button class="btn btn-primary" type="submit">Iniciar sesion</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
