{% extends 'base.html' %}

{% block title %}Nueva Venta{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}

<section class='container'>
    <h1>{{ message }}</h1>
    {% if venta %}

    <h1>{{ venta.vendedor }}</h1>
    <h1>{{ venta.fecha_venta }}</h1>

    {% endif %}

    <form action='{% url 'tienda:crearVenta' %}' method="POST">
        {% csrf_token %}
        {{ venta_form.as_p }}
        <button type='submit' name="button" value="crear" class="btn btn-primary">Agregar</button>
    </form>
</section>

{% endblock %}