{% extends 'base.html' %}

{% block title %}Ventas{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}

<table class="table table-dark table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Vendedor</th>
        <th>Subtotal</th>
        <th>IVA</th>
        <th>Total</th>
        <th>Productos</th>
      </tr>
    </thead>
    <tbody>
      {% for venta in venta %}
      <tr>
        <td>{{venta.id}} </td>
        <td>{{venta.vendedor}}</td>
        <td>{{venta.subtotal}}</td>
        <td>{{venta.iva}}</td>
        <td>{{venta.total}}</td>
        <td>{{venta.producto}}</td>
     <td><button class="btn btn-info btn-sm"               
            >EDITAR
            </button>
          </td>

        <td class="text-center">
            <a class="btn btn-danger btn-sm"
            >ELIMINAR
            </a>
          </td>
      </tr>
        {% endfor%}
    </tbody>
  </table>

   <div class="text-center">
        <a class="btn btn-info btn-sm mt-3" 
         href="{% url 'tienda:crearVenta' %}"
        >Agregar Nuevo</a>
      </div>


{% endblock %}
