<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INDEX</title>
</head>
<body>

{% if user.is_authenticated %}
<h1>{{user.username}}</h1>
{% endif %}
  
</body>
</html>